/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
.fonted {
  font-family: "Raleway", sans-serif;
}
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header h1 {
  font-size: 28px;
  line-height: 10;
  margin: 0;
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #384046;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #384046;
  text-decoration: none;
}

.img-logo {
  max-height: 70px;
  margin-right: 20px;
}

/*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
/**
    * Desktop Navigation 
    */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #4f5a62;
  white-space: nowrap;
  transition: 0.3s;
}

/**
    * Mobile Navigation 
    */
.mobile-nav-toggle {
  color: #384046;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 38, 42, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #384046;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #3498db;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #3498db;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
    # Hero Section
    --------------------------------------------------------------*/
#hero-kinerja {
  width: 100%;
  height: 70vh;
  background: url("../assets/img/background-kinerja.jpg") center center;
  background-size: cover;
  position: relative;
  margin-top: 70px;
  padding: 0;
}

#hero-kinerja:before {
  content: "";
  background: #ecdf99;
  opacity: 25%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero-kinerja .container {
  z-index: 25;
}

/* .rata-kiri-kinerja {
    text-align: left;
  } */

#hero-kinerja h1 {
  line-height: 76px;
  color: #000;
  margin-right: 53px;
  font-size: 58px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

#hero-kinerja h2 {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 30px;
}

@media (max-width: 992px) {
  #hero-kinerja {
    height: calc(100vh - 70px);
  }
}

@media (max-width: 768px) {
  #hero-kinerja h1 {
    font-size: 30px;
    line-height: 36px;
  }

  #hero-kinerja h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
